.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.container .button{

    border-radius: 50%;
    margin-right: 5%;
    color:white;
    font-size: 5rem;
    border:1px solid black;
}

.container .op {
    display:flex;
    flex-direction: column;
    align-items: flex-end;      
}

.container .spec{
    display:flex;
    flex-direction: row; 
}

.container .nums{
    display:flex;
    flex-direction: row; 
    flex-wrap:wrap;
}
    


.container .op button{
    background-color: teal;     
}

.container .nums button{
    background-color: navy;     
}

.container .spec button{
    background-color: blue;    
 
}